body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.mint-field {
  margin-bottom: 8px;
}
.mint-cell {
  margin-bottom: 10px;
}

.mint-button--default {
  // background-color: #09bb07 !important;
  color: #fff !important;
  // width: 30%;
}
.mint-cell-wrapper {
  background-image: none !important;
}
#disbtn {
  background-color: #ccc;
}
.mint-cell:last-child{
  background-image:none !important;
}
.mint-cell-value span{
  color: #333;
}
.zZindex{
  z-index: 3000 !important;
}
// 首页
.index-body {
  input placeholder {
    color: #333;
  }
  .index-judge{
    width: 40%;
    background-color: #09bb07 !important;
  }
}
span.price {
  margin-right: 110px;
}
.index-cell{
  min-height:35px !important;
  span{
    font-size:14px;
    color: #333;
  }
}
// 我的
.health-score {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: block;
  text-align: center;
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
  a {
    display: block;
    color: red;
    font-size: 0.78rem;
    margin-top: 10px;
  }
}
.health-score-btn button{
  background-color: #09bb07 !important;
   width: 35%;
  }
.health-score-bot {
  height: 130px;
  background-color: #fff;
  padding-bottom: 10px;
  margin-top: 10px;
  a {
    margin-bottom: -10px;
  }
}
.health-score-btn {
  margin-left: 10px;
  margin-top: 20px;
  .turn-out {
    margin-right: 10px;
    background-color: #fff !important;
    color: #09bb07 !important;
    border: 1px solid #09bb07 !important;
  }
}

.health-information {
  margin-top: 18px;
}
// 预约信息
.reservation-btn {
  .mint-button--large {
    display: block;
    width: 96%;
    bottom: 30px;
    position: fixed;
    margin-left: 9px;
    background-color: #09bb07 !important;
}
}
.reservation-body {
  margin-bottom: 10px;
  .mint-cell {
  margin-bottom: 1px;
  }
}
.reservation-body-price{
  margin-bottom: 10px;
  .mint-cell {
  margin-bottom: 1px;
  }
}
// 转出
.transfer-out-body-cell {
  a {
    margin-bottom: -16px !important;
  }
}
.transfer-out-body-field {
  margin-top: 25px;
}
.transfer-out-button {
  button {
    position: fixed;
    bottom: 0px;
    width: 99%;
  }
}
// 个人信息
.information-body {
  a {
    margin-bottom: -10px !important;
  }
}
.information-body-bot {
  margin-top: 20px;
}
// 我的预约
.my-appointment-body {
  height: 100px;
  a {
    margin-bottom: -6px;
  }
  .cancel {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .order-list {
    margin-bottom: 10px;
  }
  span {
    color: #333;
  }
  button{
    margin-top: -75px;
    margin-right: 10px;
  }
}
span.integral {
  margin-right: 40px;
}
// 遮罩层
.mint-popup {
  width: 80%;
  border-radius: 5px;
  height: 320px;
  .mint-cell-wrapper {
    border-bottom: 1px solid #f6f6f6;
  }
}
.modal {
  span {
    text-align: center;
    display: block;
    margin: 20px 0 20px 0;
  }
  button {
    width: 90%;
    margin: 0 auto;
    background-color: #09bb07 !important;
  }
  img {
    position: relative;
    top: -45px;
    right: 10px;
  }
}
// .active-btn {
//   background-color: #ccc;
// }
// 预约详情
.my-appointment-body-top {
  margin-top: 15px;
  margin-bottom: 8px;
  a {
    width: 100%;
  }
  .mint-cell {
    margin-bottom: 1px;
  }
}
.my-appointment-body-phone{
  margin-bottom: 15px;
  .mint-cell {
    margin-bottom: 1px;
  }
}
